{% extends 'navbar/employernavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-left">
        <div class ="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p>Are you sure you want to delete the data "{{job_details.work_title}}"?</p>
                    <form method="post" action="{% url 'employermodule:deletejobdetails' job_details.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
